.KitLookItem :global(.vtex-checkbox__inner-container) {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #001930;
  background-color: white;
}

.KitLookItem :global(.vtex__icon-check) {
  width: 28px;
  height: 21px;
  color: black;
}

.KitLookItem :global(.vtex-checkbox__box) {
  width: 20px;
  height: 20px;
}

.KitLookItemUnavailable :global(.vtex-checkbox__inner-container) {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid lightgray!important;
  background-color: white!important;
}

.KitLookItem :global(.vtex-button) {
  width: 327px;
  height: 40px;
  border-radius: 20px;
  background-color: #001930;
  outline: none;
}

.KitLookItem :global(.vtex-button__label) {
  height: 22px;
  color: #ffffff;
  font-family: "MuseoJHSans900";
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.productKitBuyButtonWrapper :global(.vtex-button){
  width: 327px;
  height: 40px;
  border-radius: 20px;
  background-color: #001930;
  outline: none;
}


.productKitBuyButtonWrapper :global(.vtex-button__label){
  height: 22px;
  color: #ffffff;
  font-family: "MuseoJHSans900";
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
