.body {

}

@media screen and (min-width: 640px) {
  .storeLocatorContainer {
    flex-direction: row-reverse!important;
  }
}

@media screen and (max-width: 639px) {
  .storeLocatorContainer {
    flex-direction: column-reverse!important;
  }
}


.storeLocatorContainer :global(.vtex-button) {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #001930;
  border: none;
  outline: none;
}

.storeLocatorContainer :global(.vtex-button__label) {
  height: 21px;
  color: #ffffff;
  font-family: "MuseoSans_700";
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.storeItemAddress {
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.storeItemName {
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}

.storeLocatorContainer :global(.vtex__icon-caret-up) {
  color: #001930!important;
}

.storeLocatorContainer :global(.vtex__icon-caret-down) {
  color: #001930!important;
}

.storeLocatorContainer :global(.vtex-styleguide-9-x-jsFocusVisible) {
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 14px;
  line-height: 19px;
}


.locatorSearchContainer {
  position: relative;
  background-color: #001930;
  height: 141px;
  max-width: 1520px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.locatorSearchInput {
  width: 340px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  padding-left: 22px;
  border: 1px solid #fff;
}

.locatorSearchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

}

.locatorInputWrapper {
  display: none;
}

.locatorButtonWrapper {
  position: absolute;
  right: 70px;
  font-size: 0px;
}




.locatorSearchButton {
  -webkit-appearance: none;
  box-shadow: none !important;
  background: transparent;
  border: none !important;
}

.locatorSearchButton::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23002c50' d='M17.827 16.98c.23.233.23.612 0 .845a.587.587 0 0 1-.835 0l-3.243-3.284a8.147 8.147 0 0 1-5.505 2.153C3.698 16.694 0 12.949 0 8.347 0 3.744 3.698 0 8.244 0c4.545 0 8.243 3.744 8.243 8.347 0 2.029-.72 3.89-1.913 5.338l3.253 3.295m-9.583-1.482c3.894 0 7.062-3.209 7.062-7.151 0-3.943-3.168-7.151-7.062-7.151-3.895 0-7.063 3.208-7.063 7.15 0 3.943 3.168 7.152 7.063 7.152'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  font-size: 15px;
}

/* store locator mobile */

.flexRowContent--store-locator-home-mobile {
  width: 100%;
}

@media screen and (max-width: 1025px) {

  .locatorSearchContainer--store-locator-mobile {
    height: 164px;
    width: 100%!important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: center!important;
  }

  .locatorInputWrapper--store-locator-mobile {
    margin-right: 0 !important;
  }

}

:global (.vtex-flex-layout-0-x-flexColChild--landing-in-store-desktop-col-main) :global(.storeido-store-locator-0-x-storesListContainer) {
  height: 625px;
}

:global (.vtex-flex-layout-0-x-flexColChild--landing-in-store-desktop-col-main) .storeMapContainer {
  padding-left: 0;
}
