.personalFields {
  background-color: blue;
}

.profileContainer {
  background-color: red;
}

.styleguideInput {
  background-color: red;
}

.toggleBusinessButtonWrapper .profileContainer :global(.vtex-button) {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 44, 80, 0.1);
  color: #ffffff;
  font-family: "MuseoSans_700";
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
  outline: none;
}
