


:global(.vtex-modal-layout-0-x-headerContainer) {
  border: unset;
}



.content--emailAndPassword :global(.vtex-login-2-x-formTitle) {
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 25px;
  text-align: unset;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}




.content--emailAndPassword .inputContainer :global(.vtex-input-prefix__group) {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #001930;
  width: 336px;
}

.content--emailAndPassword .contentForm :global(.vtex-login-2-x-inputContainerEmail) {
  padding-bottom: 50px;
}

.content--emailAndPassword .sendButton :global(.vtex-button) {
  width: 151px!important;
  height: 40px!important;
  background-color: #001930;
  border-radius: 20px;
  border: none;
  outline: none;
}

.content--emailAndPassword .formFooter :global(.t-small) {
  font-family: "MuseoSans_700";
  font-size: 18px;
}

.content--emailAndPassword .accessCodeOptionBtn {
  display: none;
}

.content--emailAndPassword .facebookOptionBtn {
  height: 37px;
  border-radius: 20px;
}


.content--emailAndPassword .googleOptionBtn {
  height: 37px;
  border-radius: 20px;
}

.content--emailAndPassword .inputContainerEmail {
  height: 37px;
  padding-bottom: 56px;
  padding-top: 0px;
}

.content--emailAndPassword .inputContainerPassword {
  height: 37px;
  padding-bottom: 40px;
  padding-top:31px;
}

.content--emailAndPassword .forgotPasswordLink {
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 12px;
  position: relative;
  bottom: 198px;
  right: 167px;
}
.content--emailVerification {
  justify-content: center;
  position: relative;
}

.content--emailAndPassword .formLinkContainer {
  top: 227px;
  position: relative;
  margin-bottom: 0.75rem;
}

.content--emailAndPassword .formFooter {
  border: unset;
}

.content--emailAndPassword .optionsSticky :global(.vtex-login-2-x-formTitle) {
  display: none;
}

.content--emailAndPassword :global(.vtex-login-2-x-facebookOptionBtn) {
  position: relative;
  background-image: url("/arquivos/LoginFB-G_04.png");
  background-repeat: no-repeat;
  bottom: 148px;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .facebookOptionBtn {
  position: relative;
  background-image: url("/arquivos/LoginFB-G_02.png");
  background-repeat: no-repeat;
}

.content--emailAndPassword .optionsSticky :global(.vtex-login-2-x-googleOptionBtn) {
  position: relative;
  background-image: url("/arquivos/LoginFB-G_03.png");
  background-repeat: no-repeat;
  bottom: 134px;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .googleOptionBtn {
  background-image: url("/arquivos/LoginFB-G_01.png") !important;
  background-repeat: no-repeat;
}

.buttonSocial {
  border: none;
}
.buttonSocial :global(.vtex-button) {
  outline: none;
  background: transparent;
  border: none !important;
  border-radius: 60px;
}
.oauthLabel {
  font-size: 0px;
  color: transparent;
}

.buttonSocial :global(.vtex-button):hover {
  background: transparent !important;
}
.buttonSocial :global(.vtex-button__label) {
  display: none !important
}

.buttonSocial :global(.vtex-button):active {
  background: transparent !important;
  border: none !important;
}



.label {
  font-family: "MuseoSans_700";
  font-size: 18px;
  color: white!important;
  padding: unset;
}

.formLinkContainer :global(.vtex-login-2-x-dontHaveAccount) {
  position: relative;
  width: 151px;
  height: 40px;
  border-radius: 20px;
  z-index: 9;
  background-repeat: no-repeat;
}

.content--emailAndPassword :global(.vtex-login-2-x-inputContainerEmail label.vtex-input:before) {
  content: 'Indirizzo mail';
  position: relative;
  bottom: 5px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 18px;
}

.content--emailAndPassword .input {
  width: 100px;
  height: 100px;
}

.content--emailAndPassword :global(.vtex-login-2-x-formError) {
  position: absolute;
  top: 195px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 12px;
  text-align: center;
}

:global(.vtex-login-2-x-inputContainerPassword label.vtex-input:before) {
  content: 'Password';
  position: relative;
  bottom: 5px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 18px;
  text-align: left;
}

.content--emailAndPassword :global(.vtex-login-2-x-formTitle)::after {
  content: 'Hai già un account con noi?';
  font-size: 18px;
  display: flex;
  padding-top: 41px;
  color: #001930;
  font-family: "MuseoSans_700";
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .formTitle::after {
  content: 'Do you already have an account with us?';
}

.content--emailVerification .formTitle::after {
  content: '';
  display: none;
}

.content--recoveryPassword .formTitle::after {
  content: '';
  display: none;
}

.googleOptionBtn::after {
  content: 'Non sei ancora registrato?';
  font-size: 18px;
  display: flex;
  padding-top: 21px;
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 18px!important;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .googleOptionBtn::after {
  content: 'Not registered yet?';
}

.content--emailVerification .formTitle::after {
  content: '';
  display: none;
}

.content--recoveryPassword .googleOptionBtn::after {
  content: '';
  display: none;
}


.formLinkContainer .dontHaveAccount {
  position: relative;
  width: 151px;
  height: 40px;
  border-radius: 20px;
  z-index: 9;
  background-repeat: no-repeat;
  background: #001930;
  color: white !important;
  font-size: 0px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;


}

.dontHaveAccount::after {
  content: 'ISCRIVITI';
  font-weight: bold;
  color: #ffffff;
  font-family: "MuseoSans_700";
  font-size: 18px;
  text-transform: uppercase;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .dontHaveAccount::after {
  content: 'SUBSCRIBE';
  position: relative;
  right: 7px;
}

.content--emailAndPassword .sendButton :global(.vtex-button):hover {
  background: #666 !important;
}

.content--emailAndPassword .sendButton :global(.vtex-button__label) {
  display: none;
}
.content--emailAndPassword .sendButton :global(.vtex-button)::after {
  content: 'ACCEDI';
  font-size: 18px;
  color: white;
  font-family: "MuseoSans_700";
  text-transform: uppercase;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .content--emailAndPassword .sendButton :global(.vtex-button)::after {
  content: 'SIGN IN';
}

/* recivi code* */

.content--emailVerification .sendButton :global(.vtex-button__label) {
  display: none;
}

.content--emailVerification .sendButton :global(.vtex-button)::after {
  content: 'CONTINUA';
  font-size: 18px;
  color: white;
  font-family: "MuseoSans_700";
  text-transform: uppercase;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .content--emailVerification .sendButton :global(.vtex-button)::after {
  content: 'SEND';
}


.content--emailVerification :global(.vtex-login-2-x-optionsSticky) {
  display: none;
}



.content--emailVerification :global(.vtex-login-2-x-formTitle::after) {
  content: 'Ricevi il codice di accesso via email';
  display: flex;
  color: #001930;
  font-family: "MuseoSans_700";
  height: 29px;
  font-size: 18px!important;
  padding-bottom: 40px;
  padding-left: 0px;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en .vtex-login-2-x-formTitle::after) {
  content: 'Receive the access code by email';
}




.content--emailVerification :global(.vtex-login-2-x-formTitle) {
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 25px!important;
  text-align: left;
  padding-left: 0px;
}


.content--emailVerification :global(.vtex-input-prefix__group) {
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  bottom: 33px;
}

.content--emailVerification :global(.vtex-login-2-x-inputContainerEmail label.vtex-input:before) {
  content: 'Indirizzo mail';
  position: relative;
  bottom: 50px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 18px;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en .vtex-login-2-x-inputContainerEmail label.vtex-input:before) {
  content: 'Email address';
}


.content--emailVerification :global(.vtex-button) {
  width: 151px!important;
  height: 40px!important;
  background-color: #001930;
  border-radius: 20px;
  border: none;
  color: white;
  position: relative;
  font-family: "MuseoSans_700";
  outline: none;
}

.content--emailVerification :global(.vtex-button):hover {
  background: #666 !important;
}

.content--emailVerification .formFooter :global(.t-small) {
  font-family: "MuseoSans_700";
  font-size: 18px;
}

.content--emailVerification .inputContainer :global(.vtex-input-prefix__group) {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #001930;
  width: 336px;
}

.content--emailVerification :global(.vtex-login-2-x-formError) {
  position: absolute;
  top: 198px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 12px;
  text-align: center;
}

.content--emailVerification :global(.vtex-login-2-x-formFooter) {
  border: unset;
}

.content--emailVerification :global(.vtex-login-2-x-backButton) {
  display: none;
}

.content--emailAndPassword :global(.vtex-login-2-x-formFooter) {
  padding-top: 1.5rem;
}


/* recovery password*/

.content--recoveryPassword .sendButton :global(.vtex-button__label) {
  display: none;
}

.content--recoveryPassword .sendButton :global(.vtex-button)::after {
  content: 'SALVA';
  font-size: 18px;
  color: white;
  font-family: "MuseoSans_700";
  text-transform: uppercase;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en) .content--recoveryPassword :global(.vtex-button)::after{
  content: 'CREATE';
}


.content--recoveryPassword {
  background-color: #ffffff;
}


.content--recoveryPassword .options {
  display: none;
}

.content--recoveryPassword .optionsList {
  display: none;
}

.content--recoveryPassword .formSubtitle {
  display: none;
}

.content--recoveryPassword .inputContainer :global(.vtex-input-prefix__group) {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #001930;
  position: relative;
  bottom: 16px;
  margin-bottom:20px;
  width: 336px;
}


.content--recoveryPassword :global(.vtex-login-2-x-inputContainerPassword label.vtex-input:before) {
  content: 'Password';
  position: relative;
  bottom: 24px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 18px;
  text-align: left;
}

.content--recoveryPassword :global(.vtex-login-2-x-backButton) {
  display: none;
}

.content--recoveryPassword :global(.vtex-login-2-x-formFooter) {
  border: unset;
}

.content--recoveryPassword :global(.vtex-button) {
  width: 151px!important;
  height: 40px!important;
  background-color: #001930;
  border-radius: 20px;
  border: none;
  bottom: 37px;
  color: white;
  position: relative;
  font-family: "MuseoSans_700";
  outline: none;
}

.content--recoveryPassword :global(.vtex-button):hover {
  background: #666 !important;
}

.content--recoveryPassword .formFooter :global(.t-small) {
  font-family: "MuseoSans_700";
  font-size: 18px;
}


.content--recoveryPassword :global(.vtex-login-2-x-inputContainerAccessCode label.vtex-input:before) {
  content: 'Inserisci il tuo codice di accesso';
  position: relative;
  bottom: 25px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 18px;
  text-align: left;
}

:global(.codeby-custom-state-handles-0-x-languageHandle--en .vtex-login-2-x-inputContainerAccessCode label.vtex-input:before) {
  content: 'Enter your access code';
}


.content--recoveryPassword :global(.vtex-login-2-x-formTitle::before) {
  content: 'MyiDO';
  display: flex;
  font-family: "MuseoSans_700";
  padding-bottom: 40px;
  padding-left: 0px;
  height: 29px;
  color: #001930;
  font-size: 25px;
}

.content--recoveryPassword :global(.vtex-login-2-x-formTitle) {
  color: #001930;
  font-family: "MuseoSans_700";
  text-align: left;
  padding-left: 0px;
  height: 21px;
  font-size: 18px;
  position: relative;
  bottom: 116px;
}

.content--recoveryPassword :global(.vtex-login-2-x-formError) {
  position: absolute;
  top: 107px;
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 12px;
  text-align: center;
}

.content--recoveryPassword :global(.vtex-login-2-x-contentForm) {
  position: relative;
  top: 107px;

}

/*mobile version*/

@media only screen and (max-width: 1025px) {
  .contentInitialScreen {
    padding-top: 40px;
  }
  .content--emailAndPassword :global(.vtex-login-2-x-formError) {
    position: absolute;
    top: 189px;
    color: #001930;
    font-family: "MuseoSans_300";
    font-size: 12px;
    text-align: center;
  }
  .content--emailVerification :global(.vtex-button) {
    width: 151px !important;
    height: 40px !important;
    background-color: #001930;
    border-radius: 20px;
    border: none;
    color: white;
    position: relative;
    font-family: "MuseoSans_700";
    outline: none;
  }
}

.content--emailAndPassword :global(.vtex-login-2-x-contentFormVisible) {
  width: 380px;
  height: 450px;
}

:global(.vtex-login-2-x-content--recoveryPassword) {
  width: 100%;
}

:global(.vtex-rich-text-0-x-container--help-message) {
  position: relative;
  bottom: 88px;
}

:global(.vtex-rich-text-0-x-link--help-message) {
  position: relative;
  left: 123px;
  color: red;
}

:global(.vtex-modal-layout-0-x-triggerContainer) {
  outline: none;
}

:global(.vtex-modal-layout-0-x-closeButton) {
  outline: none;
}

:global(.vtex-login-2-x-content--emailAndPassword .vtex-login-2-x-formFooter .t-small) {
  font-family: "MuseoSans_700";
  font-size: 18px;
  color: white!important;
  padding: unset;
}


/*.content--accountOptions {
  display: none;
}

.content--accountOptions :global(.vtex-modal-layout-0-x-closeIcon) {
  display: none;
}
*/

/* login */

/*:global(.vtex-login-2-x-container) {
  position: relative;
  bottom: 10rem;
}*/

:global(.vtex-login-2-x-container .vtex-button) {
  background: unset;
  outline: transparent;
  display: none;
}

:global(.vtex-login-2-x-my-account-profile-link--login-desktop) {
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 14px;
  line-height: 21px;
}
:global(.vtex-login-2-x-my-account-addresses-link--login-desktop) {
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 14px;
  line-height: 21px;
}

:global(.vtex-login-2-x-my-account-orders-link--login-desktop) {
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 14px;
  line-height: 21px;
}

:global(.vtex-login-2-x-my-account-creditCards-link--login-desktop) {
  color: #001930;
  font-family: "MuseoSans_300";
  font-size: 14px;
  line-height: 21px;
}

:global(.vtex-login-2-x-logoutButton) {
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

:global(.vtex-login-2-x-accountOptionsSectionTitle) {
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

:global(.vtex-login-2-x-profile) {
  display: none;
}

:global(.vtex-login-2-x-sendButton) {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

:global(.vtex-login-2-x-options) {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

:global(.vtex-login-2-x-optionsListItem) {
  margin: 1rem;
}



/* old version login*/

