/*@media only screen and (max-width: 1600px) {
  .sliderLayoutContainer--hatSlider {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1350px) {
  .sliderLayoutContainer--hatSlider {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
}*/

.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}



.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.slide--shelf {
  margin-bottom: 25px;
/*  padding-left: .5rem;
  padding-right: .5rem;*/
}

.sliderLayoutContainer :global (.salesSlider) {
  background-color: red;
  height: auto;
  color: red;
}

.slide--shelf :global(.vtex-store-components-3-x-infoCardContainer) {
  width: 406px;
  height: 405px;
}


.slide--shelf :global(.vtex-button) {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none!important;
  text-transform: none;
  border: none;
  height: 49px;
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 30px;
  line-height: 29px;
  margin-left: 15px;
  outline: none;
}


.slide--shelf :global(.vtex-store-components-3-x-infoCardContainer) {
  position: relative;
}



.slide--shelf :global(.vtex-store-components-3-x-infoCardCallActionContainer) {
  position: absolute;
  top: 0px;
  left: -15px;
  height: 430px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 959999999;
  width: 100%;
  text-decoration: none;
}


.slideChildrenContainer--shelf {
  padding-bottom: 45px;
}




.sliderLayoutContainer--shelf {
  margin-bottom: 180px;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf) {
  top: 500px;
}

:global(.vtex-account) :global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf) {
  top: unset!important;
}

.paginationDot--shelf {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

:global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf-radu) {
  top: 500px;
}
.paginationDot--shelf {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


:global(.vtex-slider-layout-0-x-paginationDotsContainer--hatSlider) {
  bottom: 50px;
}


:global(.vtex-slider-layout-0-x-paginationDot--hatSlider) {
  height: 2px !important;
  width: auto !important;
  max-width: 80px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

:global(.vtex-slider-layout-0-x-paginationDot--hatSlider--isActive) {
  background-color: #001930;
  height: 2px !important;
  width: auto !important;
  max-width: 80px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

:global(.vtex-slider-layout-0-x-paginationDot--shelf--isActive) {
  width: 500px;
  background-color: #001930;
}


/* mobile styling begins here */

.sliderLayoutContainer--shelf-mobile {
  padding-right: 0px!important;
  padding-left: 0px!important;
}


.layoutContainer--shelf-mobile {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide--shelf-mobile {
  margin-bottom: 25px;
  padding-left: unset;
  padding-right: unset;
}


.slide--shelf-mobile :global(.vtex-store-components-3-x-infoCardContainer) {
  width: 406px;
  height: 405px;
}


.slide--shelf-mobile :global(.vtex-button) {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none!important;
  text-transform: none;
  border: none;
  height: 49px;
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 30px;
  line-height: 29px;
  margin-left: 15px;
  outline: none;
}


.slide--shelf-mobile :global(.vtex-store-components-3-x-infoCardContainer) {
  position: relative;
}


.slide--shelf-mobile :global(.vtex-slider-layout-0-x-paginationDot--shelf) {
  width: 500px;
  background-color: #001930;
}

.sliderLayoutContainer--shelf-mobile {
  margin-bottom: 180px;
}
.paginationDotsContainer--shelf-mobile {
  bottom: 0px;
}
.paginationDot--shelf-mobile {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


@media screen and (max-width: 1025px) {

  .sliderTrack--shelf-mobile {
  justify-content: flex-start !important;
    margin-bottom: 50px;
  }

  .paginationDotsContainer--shelf-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paginationDot--shelf-mobile--isActive {
    background-color: #001930;
  }

  .sliderLayoutContainer--shelf-mobile {
    margin-bottom: 30px!important;
  }

  .slide--shelf-mobile {
    margin-right: 0px;
  }
}

.sliderLayoutContainer--shelf {
  margin-bottom: 50px;
}

/*new design wishlist*/


.slide--shelf-tutti-i-prodotti :global(.vtex-product-summary-2-x-imageContainer) {
  margin-right: 0px;
  margin-left: 0px;
}

:global(.vtex-slider-layout-0-x-slide--shelf-tutti-i-prodotti-radu) {
  margin: 0 35px;
}

.slide--shelf-tutti-i-prodotti :global(.vtex-product-summary-2-x-nameContainer) {
  width: 100%;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 16px;
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.slide--shelf-tutti-i-prodotti :global(.vtex-product-summary-2-x-productNameContainer) {
  font-family: "MuseoSans_500";
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

.slide--shelf-tutti-i-prodotti :global(.vtex-product-summary-2-x-price_sellingPrice) {
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  padding-left: 0px!important;
  padding-top: 0px!important;
  margin-left: 16px!important;
  margin-right: 16px!important;
}

/*:global(.vtex-product-summary-2-x-containerNormal--shelf-tutti-i-prodotti-radu) {
  margin-left: 0px;
  margin-right: unset;
}*/

:global(.vtex-product-summary-2-x-element--shelf-tutti-i-prodotti-radu) {
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 2px;
}


:global(.vtex-slider-layout-0-x-slideChildrenContainer--hatSlider) {
  justify-content: unset;
}

<<<<<<< HEAD
=======

.slideChildrenContainer--wishlist-page-shelf :global(.vtex-product-summary-2-x-image) {
  border: .5px solid #cacbcc;
}
.slideChildrenContainer--wishlist-page-shelf :global(.vtex-product-summary-2-x-nameWrapper) {
  text-align: left;
}

@media only screen and (min-width: 1600px) {
  .sliderLayoutContainer--wishlist-page-shelf {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1599px) {
  .sliderLayoutContainer--wishlist-page-shelf {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1349px) {
  .sliderLayoutContainer--wishlist-page-shelf {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
}

.paginationDot--wishlist-page-shelf {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.sliderTrackContainer--wishlist-page-shelf {
  margin-bottom: 30px;
}

>>>>>>> e19ce832a46c4542d182c27046653113f6b2f395
