.arrow {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 15px;
  line-height: 21px;
}

.link {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 15px;
  line-height: 21px;
}

.term {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 18px;
  line-height: 21px;
}


@media screen and (max-width: 1025px) {

  .arrow {
    color: #001930;
    font-family: "MuseoJHSans500";
    font-size: 18px;
    line-height: 21px;
  }

  .link {
    color: #001930;
    font-family: "MuseoJHSans500";
    font-size: 18px;
    line-height: 21px;
  }

  .term {
    color: #001930;
    font-family: "MuseoJHSans500";
    font-size: 18px;
    line-height: 21px;
  }

  .term {
    color: #001930;
    font-family: "MuseoJHSans900";
    font-size: 19px;
    line-height: 29px;
  }

}


