.slide--showMobile :global(.vtex-wish-list-1-x-wishlistIconContainer){
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 2;
}


@media screen and (min-width: 640px){

  .title--related-desktop {
    justify-content: left;
  }

  .relatedProducts--related-desktop {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
  }

  .relatedProducts--related-mobile {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .relatedProducts--related-desktop {
    display: none;
  }
}

@media screen and (max-width: 2500px) {
  .relatedProducts--related-desktop {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1600px) {
  .relatedProducts--related-desktop {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1350px) {
  .relatedProducts--related-desktop {
    max-width: 1025px;
    margin-right: auto;
    margin-left: auto;
  }
}

.sliderContainer--related-mobile :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
  background-image: url(/arquivos/heartTavola_black_heart.png);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  background-color: transparent;
  position: relative;
}
.sliderContainer--related-mobile :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  outline: none;
  top: 0px;
  right: 0px;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  padding-left: 0px!important;
  padding-right: 0px!important;
  min-height: unset!important;
  z-index: 1;
}

.sliderContainer--related-mobile :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  right: 12px;
  top: 17px;
}


.sliderContainer--related-desktop :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
  background-image: url(/arquivos/heartTavola_black_heart.png);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  background-color: transparent;
  position: relative;
}
.sliderContainer--related-desktop :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  outline: none;
  top: 0px;
  right: 0px;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  padding-left: 0px!important;
  padding-right: 0px!important;
  min-height: unset!important;
  z-index: 1;
}

.sliderContainer--related-desktop :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  right: 12px;
  top: 17px;
}



.sliderContainer--related-desktop :global(.vtex-product-summary-2-x-imageContainer) {
  border: .5px solid #cacbcc;
}

.sliderContainer--related-mobile :global(.vtex-product-summary-2-x-imageContainer) {
  border: .5px solid #cacbcc;
}


.sliderContainer--related-desktop :global(.vtex-wish-list-1-x-wishlistIcon) {
  display: none;
}
.sliderContainer--related-mobile :global(.vtex-wish-list-1-x-wishlistIcon) {
  display: none;
}

.sliderContainer--related-mobile :global(.vtex-product-summary-2-x-element) {
  position: relative;
}
.sliderContainer--related-desktop :global(.vtex-product-summary-2-x-element) {
  position: relative;
}


.sliderContainer--related-mobile :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 2;
}

/*new shelf*/


.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-image) {
  object-fit: cover!important;
  border: 0.1px solid #cacbcc!important;
  height: 285px!important;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-button) {
  outline: none;
  bottom: 402px;
  left: 112px;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  padding-left: 0px!important;
  padding-right: 0px!important;
  min-height: unset!important;
}


.container--shelf-tutti-i-prodotti-radu :global(.vtex-button__label) {
  background-image: url(/arquivos/heartTavola_black_heart.png);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  background-color: transparent;
  position: relative;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-button__label):hover {
  background-image: url(/arquivos/heartgreenwishlist.png);
}

:global(.vtex-product-summary-2-x-brandName) {
  width: 100%;
}


.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-image) {
  object-fit: cover!important;
  border: 0.1px solid #cacbcc!important;
  height: 285px!important;
}


:global(.vtex-slider-layout-0-x-sliderTrack--shelf-tutti-i-prodotti) {
  cursor: default;
  will-change: transform!important;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-wish-list-1-x-iconSize) {
  display: inline-block;
  width: unset!important;
  height: unset!important;
}










/*new design wishlist*/


.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-imageContainer) {
  margin-right: 0px;
  margin-left: 0px;
}

:global(.vtex-slider-layout-0-x-slide--shelf-tutti-i-prodotti-radu) {
  margin: 0 35px;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-nameContainer) {
  width: 100%;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 16px;
  color: #001930;
  font-family: "MuseoSans_500";
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-productNameContainer) {
  font-family: "MuseoSans_500";
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

.container--shelf-tutti-i-prodotti-radu :global(.vtex-product-summary-2-x-price_sellingPrice) {
  color: #001930;
  font-family: "MuseoSans_700";
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  padding-left: 0px!important;
  padding-top: 0px!important;
  margin-left: 16px!important;
  margin-right: 16px!important;
}

/*:global(.vtex-product-summary-2-x-containerNormal--shelf-tutti-i-prodotti-radu) {
  margin-left: 0px;
  margin-right: unset;
}*/

:global(.vtex-product-summary-2-x-element--shelf-tutti-i-prodotti-radu) {
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 2px;
}

:global(.vtex-shelf-1-x-arrowRight--shelf-tutti-i-prodotti-radu) {
  outline: none;
  top: 35%;
}

:global(.vtex-shelf-1-x-arrowLeft--shelf-tutti-i-prodotti-radu) {
  outline: none;
  top: 35%;
}

.dot--isActive--related-desktop {
  height: 3px!important;
  max-width: 200px!important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.sliderContainer--related-desktop .dot {
  height: 3px!important;
  max-width: 200px!important;
  width: 200px;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 10px;
}

:global(.vtex-return-request-0-x-new) {
  width: 327px;
  height: 40px;
  border-radius: 20px;
  background-color: #002c50;
  outline: none;
  border: #001930;
  font-size: 18px;
  color: white;
  font-family: "MuseoSans_700";
  text-transform: uppercase;
}

:global(.vtex-return-request-0-x-description) {
  color: #5a5a5a;
  font-size: 16px;
  font-family: MuseoSans_500;
}

:global(.vtex-return-request-0-x-title) {
  color: #001930;
  font-family: MuseoSans_500;
  font-size: 18px;
}

.pa5 .tc {
  background: red;
}
