
  .stackContainer--hatSliderStack {
    width: 2000px!important;
    height: 610px;
  }


  .stackContainer--hatSliderStack :global(.vtex-store-components-3-x-infoCardContainer) {
    height: 610px;
    display: flex;
    width: 2000px;
    justify-content: unset;
  }


  .stackContainer--hatSliderStack :global(.vtex-store-components-3-x-infoCardTextContainer) {
    align-content: flex-start;
    display: inherit;
    align-items: flex-start;
    align-self: flex-end;
    margin-bottom: 35px;
    width: 60%;
  }

  .stackContainer--hatSliderStack :global(.vtex-button):hover {
    background-color: #001930;
    border-color: #001930;
    color: white;
  }

  .stackContainer--hatSliderStack :global(.vtex-button__label) {
    color: #001930;
  }

  .stackContainer--hatSliderStack :global(.vtex-button__label):hover {
    color: white !important;
  }

/*Mobile version styling begins here */

@media screen and (max-width: 1025px) {
  :global(.vtex-store-components-3-x-infoCardContainer--firstStackWithImage) {
    width: 447px;
    height: 610px;
  }

  :global(.vtex-store-components-3-x-infoCardContainer--secondLayer) {
    width: 250px;
    height: 1100px;
  }

  :global(.vtex-store-components-3-x-infoCardContainer--secondLayerMobile) {
    width: 250px;
    height: 1100px;
  }


  :global(.vtex-store-components-3-x-infoCardTextContainer--firstStackWithImage) {
    align-content: flex-start;
    display: inherit;
    align-items: flex-start;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 0%;
  }


  .stackItem--firstStackWithImage :global(.vtex-button) {
    background-color: white;
    border-color: white;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #002c50;
    font-family: "MuseoSans_700";
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s;
    outline: none;
  }

  .stackItem--firstStackWithImage :global(.vtex-button) :hover {
    background-color: #001930;
    border-color: #001930;
    color: white;
    border-radius: 50px;
  }

  .stackItem--secondLayerMobile :global(.vtex-button) {
    background-color: white;
    border-color: white;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #002c50;
    font-family: "MuseoSans_700";
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s;
    outline: none;
  }

  .stackItem--secondLayerMobile :global(.vtex-button) :hover {
    background-color: #001930;
    border-color: #001930;
    color: white;
    border-radius: 50px;
  }

  .stackItem--secondLayer {
    bottom: 0;
    width: 50%;
  }
  .stackItem--secondLayerMobile {
    bottom: 0;
    width: 50%;
  }
}

/* top slider BEGINS here */
/*Mobile*/


:global(.vtex-store-components-3-x-infoCardHeadline--secondLayerMobile) {
  color: #ffffff;
  font-family: "MuseoSans_700"!important;
  font-size: 7vw!important;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
}
:global(.vtex-store-components-3-x-infoCardHeadline--firstStackWithImage) {
  position: absolute;
  top: 50px;
  font-size: 12vw;
  font-family: "MuseoSans_700"!important;
  left: 21px;
  color: #ffffff;
}
.stackContainer--hatSliderStack :global(.vtex-button):hover {
  background-color: #001930;
  border-color: #001930;
  color: white;
}

.stackContainer :global(.vtex-button__label) {
  color: #001930!important;
}

.stackContainer :global(.vtex-button__label):hover {
  color: white!important;
}

/*desktop*/
:global(.vtex-store-components-3-x-infoCardHeadline--secondLayer) {
  color: #001930;
  font-size: 65px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 56px;
  height: 191px;
  font-family: "MuseoSans_700"!important;
  margin-left: 25px;
  margin-top: 0px;
  text-shadow: 0 2px 30px rgba(0,0,0,0.5);
}

  :global(.vtex-store-components-3-x-infoCardHeadline--firstLayer) {
    color: #001930;
    font-size: 30px;
    text-align: left;
    position: absolute;
    top: 206px;
    font-family: "MuseoSans_700";
    left: 73px;
    text-shadow: 0 2px 30px rgba(0,0,0,0.5);
    margin-top: 0px!important;
  }

.stackItem--hatSliderStack--secondLayer :global(.vtex-button) {
  border-color: white;
  width: 155px;
  height: 40px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #001930;
  font-size: 18px;
  font-weight: bolder;
  font-family: "MuseoSans_700";
  transition: .3s;
  top: 327px;
  margin-left: 27px;
  position: absolute;
  outline: none;
}

  .stackItem--hatSliderStack--firstLayer :global(.vtex-button) {
    border-color: white;
    width: 155px;
    height: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #001930;
    font-size: 18px;
    font-weight: bolder;
    font-family: "MuseoSans_700";
    transition: .3s;
    top: 327px;
    left: 278px;
    position: absolute;
    outline: none;
  }


.stackContainer--hatSliderStack :global(.vtex-button):hover {
  background-color: #001930;
  border-color: #001930;
  color: white;
}


  :global(.vtex-store-components-3-x-infoCardHeadline--secondLayer-mobile) {
   position: absolute;
    top: 0%;
    width: 200px;
    max-width: 200px!important;
    height: 191px;
    color: #ffffff;
    font-family: "MuseoSans_700"!important;
    font-size: 36px;
    text-transform: uppercase;
    left: 17px;
  }
  :global(.vtex-store-components-3-x-infoCardHeadline--firstLayer-mobile) {
    position: absolute;
    top: 84px;
    left: 19px;
    font-size: 20px;
    font-family: "MuseoSans_700"!important;
    color: #ffffff;
  }

  .stackContainer--hatSliderStack-mobile {
    width: 1400px;
    height: 610px;
  }


  .stackContainer--hatSliderStack-mobile :global(.vtex-store-components-3-x-infoCardContainer) {
    height: 610px;
    display: flex;
  }


  .stackContainer--hatSliderStack-mobile :global(.vtex-store-components-3-x-infoCardTextContainer) {
    align-content: flex-start;
    display: inherit;
    align-self: flex-end;
    margin-bottom: 35px;
    width: 17%;
  }

  .stackContainer--hatSliderStack-mobile :global(.vtex-button) {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #001930;
    font-family: "MuseoSans_700";
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border-color: white;
    font-weight: bold;
    transition: .3s;
    outline: none;
  }


/* new slider home page*/


:global(.vtex-store-components-3-x-infoCardContainer--slider-home-page-info-card-1-second-button) {
  background-color: transparent;
  padding: 0px;
}


